
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/

# Data and models
# data/
data/cars_details_merges.csv
# models/
# reports/*.csv
# reports/*.png
# reports/*.pdf

# Notebooks
notebooks/*.ipynb_checkpoints/

# IDE and OS
.vscode/
.idea/
*.DS_Store
