# .gitignore
# Data and models (included for deployment)
# data/
# models/
reports/*.csv
reports/*.png
reports/*.pdf
notebooks/*.ipynb_checkpoints/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
*.egg-info/
dist/
build/
.vscode/
.idea/
*.DS_Store